.titleHolder {
    background-color: rgba(201, 204, 206, 0.349);
    display: table;
    height: 80px;
    width: 100%;
}

.pageName {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.pageName a {
    color: #393939;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s linear;
    font-weight: bold;
    height: 50px;
}

.pageName a:hover {
    color: #0001fe;
}

#principal h1 {
    font-family: "Comic Sans MS", "Times New Romam", "Arial", "sans-serif";
    font-size: 30px;
    margin: 30px auto;
    display: inline-block;
    padding: 15px 30px;
    border: 5px dashed lightblue;
}

.cad {
    font-size: 20px;
}

.cad input {
    border: 1px solid silver;
    font-family: "Times New Romam", "Arial", "sans-serif";
    margin: 20px 0 20px 20px;
}

.cad p {
    font-style: italic;
}

.cad form {
    width: 60%;
    background-color: lightblue;
    border: 5px dashed black;
    font-style: italic;
    margin-bottom: 100px;
}

#enviarMsg {
    background-color: rgba(0, 4, 255, 0.89);
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 20px 0;
    width: 610px;
    height: 30px;
}