body {
    background-color: white;

}

.header-top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: url("../images/bgHeader2.png");
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: auto 60px;
    background-position-x: 1180px;
    border-bottom: 1px solid silver;
    font-family: "Comic Sans MS", "Times New Romam", "Arial", "sans-serif";
}

.contentHeader {
    height: 60px;
    position: relative;
}

.searchFormHeader {
    display: none;
}

.logotipoProjeto {
    position: absolute;
    margin: 0 0 0 50px;
    width: 60px;
    height: 60px;
}

.header-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.iconSearch {
    width: 12px;
    height: 12px;
}

.header-nav li {
    display: inline-block;
}

.header-nav a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #393939;
    letter-spacing: 2px;
    padding: 10px;
    margin-left: 10px;
}

.header-nav a:hover {
    color: #0001fe;
}

.endPage {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.endContent {
    width: 100%;
    height: 400px;
    background-color: #011c3a;
    background-image: url(../images/bgFooter.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.columns {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: block;
}

.columns li {
    margin: 10px 0;
}

.columns a {
    color: #b1afaf;
    text-decoration: none;
    transition: color 0.3s linear;
}

.columns a:hover {
    color: #ffffff;
    font-weight: bold;
}

.columnFoot {
    position: relative;
    float: left;
    padding: 0 2.4%;
    width: 20%;
    min-height: 300px;
    border-left: 1px solid #444;
}

.columnFoot h1 {
    font-size: 20px;
}

.columnFoot form {
    border: 1px solid #b1afaf;
    margin: 20px 0;
    padding: 10px 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
}

.columnFoot form ::placeholder {
    color: #b1afaf;
}

.columnFoot input {
    float: left;
    background-color: transparent;
    border: 0;
    position: relative;
}

.buttonSearch {
    position: absolute;
    right: 0;
    width: 21px;
    height: 21px;
    background-image: url(../images/lupa-removebg.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.columnFoot form label {
    display: none;
}

.logotipo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 215px;
    width: 215px;
}

.footer {
    margin: 35px auto;
    text-align: center;
}